<form method="POST" action="/comment/<%= data._id %>">

    <textarea name="comment" rows="10" cols="30">

    </textarea>
    <!-- <input type="text" name="email" hidden="true" value="<%=data.email %>"> -->

    
    <button type="submit">Submit</button>
</form>